<div layout="column" ng-cloak style="height: 100vh;">
  <section layout="row" flex>
    <md-sidenav class="md-sidenav-left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="2">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Pivotal Tracker Dashboard</h1>
      </md-toolbar>
      <md-content flex>
        <md-list>
          <md-list-item ng-repeat="project in $dashboardCtrl.projects">
            <div class="md-list-item-text">
              <h3 style="margin-bottom: 0;">{{::project.name}}</h3>
              <md-list>
                <md-list-item>
                  <div class="md-list-item-text">
                    <h4 style="margin-bottom: 0;">Iteration</h4>
                    <md-list>
                      <md-list-item><a href="/dashboard?project={{::project.id}}&scope=iteration&view=stats">Stats</a></md-list-item>
                      <md-list-item><a href="/dashboard?project={{::project.id}}&scope=iteration&view=kanban">Kanban</a></md-list-item>
                    </md-list>
                  </div>
                </md-list-item>
                <md-list-item>
                  <div class="md-list-item-text">
                    <h4 style="margin-bottom: 0;">Team</h4>
                    <md-list>
                      <md-list-item><a href="/dashboard?project={{::project.id}}&scope=team&view=stats">Stats</a></md-list-item>
                    </md-list>
                  </div>
                </md-list-item>
              </md-list>
            </div>
          </md-list-item>
        </md-list>
      </md-content>
    </md-sidenav>

    <md-content flex layout-padding>
      <div ng-if="$dashboardCtrl.isScopeIteration && $dashboardCtrl.isViewStats">
        <dashboard-iteration-stats></dashboard-iteration-stats>
      </div>
      <div ng-if="$dashboardCtrl.isScopeIteration && $dashboardCtrl.isViewKanban">
        <!--<dashboard-iteration-kanban></dashboard-iteration-kanban>-->
      </div>
      <div ng-if="$dashboardCtrl.isScopeTeam && $dashboardCtrl.isViewStats">
        <!--<dashboard-team-stats></dashboard-team-stats>-->
      </div>
    </md-content>
  </section>
</div>
